<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Plus_Espaypaymentmethod>
      <version>1.0.0.4</version>
    </Plus_Espaypaymentmethod>
  </modules>
  <global>
    <sales>
     <quote>
       <totals>
         <espaypaymentmethod>
           <class>espaypaymentmethod/sales_quote_address_total_espaypaymentmethodfee</class>
           <renderer>espaypaymentmethod/checkout_totals_espaypaymentmethodfee</renderer>
           <admin_renderer>espaypaymentmethod/adminhtml_sales_order_create_totals_espaypaymentmethodfee</admin_renderer>
         </espaypaymentmethod>
       </totals>
     </quote>
     <order_invoice>
      <totals>
        <espaypaymentmethod>
          <class>espaypaymentmethod/sales_order_total_invoice_espaypaymentmethodfee</class>
          <after>tax</after>
          <before>grand_total</before>
        </espaypaymentmethod>
      </totals>
    </order_invoice>
    <order_creditmemo>
     <totals>
       <espaypaymentmethod>
         <class>espaypaymentmethod/sales_order_total_creditmemo_espaypaymentmethodfee</class>
         <after>tax</after>
         <before>grand_total</before>
       </espaypaymentmethod>
     </totals>
   </order_creditmemo>
     </sales>
    <helpers>
      <espaypaymentmethod>
        <class>Plus_Espaypaymentmethod_Helper</class>
      </espaypaymentmethod>
    </helpers>
    <blocks>
      <espaypaymentmethod>
        <class>Plus_Espaypaymentmethod_Block</class>
      </espaypaymentmethod>
    </blocks>
    <models>
      <espaypaymentmethod>
        <class>Plus_Espaypaymentmethod_Model</class>
      </espaypaymentmethod>
      <sales>
        <rewrite>
            <order>Plus_Espaypaymentmethod_Model_Sales_Order</order>
        </rewrite>
    </sales>
    </models>
    <resources>
      <espaypaymentmethod_setup>
        <setup>
          <module>Plus_Espaypaymentmethod</module>
          <class>Plus_Espaypaymentmethod_Model_Resource_Setup</class>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </espaypaymentmethod_setup>
    </resources>
    <events>
      <sales_order_place_after>
        <observers>
          <plus_espaypaymentmethod>
            <type>singleton</type>
            <class>Plus_Espaypaymentmethod_Model_Observer</class>
            <method>savePaymentMethod</method>
          </plus_espaypaymentmethod>
        </observers>
      </sales_order_place_after>
      <sales_order_invoice_save_after>
       <observers>
         <sales_order_invoice_save_after>
           <class>Plus_Espaypaymentmethod_Model_Observer</class>
           <method>invoiceSaveAfter</method>
         </sales_order_invoice_save_after>
       </observers>
     </sales_order_invoice_save_after>
     <sales_order_creditmemo_save_after>
       <observers>
         <sales_order_creditmemo_save_after>
           <class>Plus_Espaypaymentmethod_Model_Observer</class>
           <method>creditmemoSaveAfter</method>
         </sales_order_creditmemo_save_after>
       </observers>
     </sales_order_creditmemo_save_after>
   </events>
    <fieldsets>
      <sales_convert_quote_address>
        <espay_fee_amount>
          <to_order>*</to_order>
        </espay_fee_amount>
        <base_espay_fee_amount>
          <to_order>*</to_order>
        </base_espay_fee_amount>
      </sales_convert_quote_address>
      <sales_convert_quote>
        <espay_fee_amount>
          <to_order>*</to_order>
        </espay_fee_amount>
        <base_espay_fee_amount>
          <to_order>*</to_order>
        </base_espay_fee_amount>
        </sales_convert_quote>

        <sales_convert_order>
          <espay_fee_amount>
            <to_order>*</to_order>
          </espay_fee_amount>
          <base_espay_fee_amount>
            <to_order>*</to_order>
          </base_espay_fee_amount>
        </sales_convert_order>
    </fieldsets>
    <pdf>
      <totals>
        <espaypaymentmethod translate="title">
          <title>Fee</title>
          <source_field>fee_amount</source_field>
          <font_size>7</font_size>
          <display_zero>0</display_zero>
          <sort_order>650</sort_order>
          <amount_prefix>
          </amount_prefix>
        </espaypaymentmethod>
      </totals>
    </pdf>
  </global>
  <adminhtml>
    <layout>
      <updates>
        <espaypaymentmethod>
          <file>espaypaymentmethodfee.xml</file>
        </espaypaymentmethod>
      </updates>
    </layout>

  </adminhtml>

  <default>
    <payment>
      <espaypaymentmethod>
        <active>1</active>
        <model>espaypaymentmethod/paymentmethod</model>
        <order_status>pending</order_status>
        <title>Espay Payment Gateway</title>
        <allowspecific>0</allowspecific>
        <payment_action>sale</payment_action>
        <min_order_total>5000</min_order_total>
        <max_order_total>100000000</max_order_total>
        <credit_card_fee>3%</credit_card_fee>
        <transaction_fee>5000</transaction_fee>
        <transaction_fee_label>Transaction Fee</transaction_fee_label>
      </espaypaymentmethod>
    </payment>
  </default>
  <frontend>
    <routers>
      <espaypaymentmethod>
        <use>standard</use>
        <args>
          <module>Plus_Espaypaymentmethod</module>
          <frontName>espaypaymentmethod</frontName>
        </args>
      </espaypaymentmethod>
    </routers>
    <layout>
        <updates>
          <espaypaymentmethod>
            <file>espaypaymentmethodfee.xml</file>
          </espaypaymentmethod>
        </updates>
    </layout>
  </frontend>
</config>
